@media (max-width: 768px) {
  .header__text {
    margin: 3rem;
  }
  .me__img {
    margin-bottom: 20px;
  }
  .me__text {
    width: 100%;
  }
  .projects__text {
    width: 100%;
    margin-bottom: 20px;
  }
  .modal {
    padding: 1rem 1rem;
  }
  .modal__header {
    font-size: 2.5rem;
  }
  .modal p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .modal__form {
    gap: 1rem;
  }
}
@media (max-width: 425px) {
  .me,
  .projects {
    padding: 0;
  }
  .nav {
    overflow: hidden;
  }
  .operations__header {
    font-size: 2rem;
  }
  .operations__content p {
    grid-column: span 2;
  }
  .operations__content {
    padding: 2.5rem 3rem 6.5rem 3rem;
  }
  .operations__tab {
    margin: 0;
    border-radius: 0;
  }
}
